.header {
    background-color: #fff;
    font-size: 20px;
    color: #487bd7;
    font-weight: bold;
    margin-right: 8px;
}

.logo {
    margin-right: 8px;
}

.user {
    float: right;
    font-size: 16px;
    font-weight: 600;
}

.sectionInner {
    height: calc(100vh-64px);
}

.sectionContent {
 padding: 32px;
}

.content {
  background-color: #fff;
  border-radius: 16px;
}
 